export DIRENV_WARN_TIMEOUT=20s

devenv_project_dir="$(pwd)"
devenv_config_dir="$(cd -- "$(dirname -- "$(readlink -- "${BASH_SOURCE[0]}")")" &> /dev/null && pwd)"

cd "$devenv_config_dir"

if [[ -f "devenv.yaml" ]]; then
  eval "$(devenv direnvrc)"
  use devenv "$(pwd)"
else
  use flake "$(pwd)" --no-pure-eval # the path could be "." but this makes the logs easier to read
fi

cd "$devenv_project_dir"

# The `use flake` command placed pre-commit files in the nix store but did not install them into the project.
# TODO: make this work with `use devenv` as well
pre-commit-install-devenv-hooks
